.role-card {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border: #c6cbd4 2px solid;
    /* position: relative; */
    width: 70vw;
    height: 15vh;

    .image {
        width: 100%; /* 使图片宽度适应容器 */
        height: 60px; /* 高度自动调整，保持比例 */
        position: absolute; /* 绝对定位 */
        top: 50%; /* 垂直居中 */
        left: 50%; /* 水平居中 */
        transform: translate(-50%, -50%); /* 精确居中 */

    }

    .player-content {
        /* position: absolute; */
        display: flex;
        align-items: center;
        width: 60vw;
        height: 10vh;
        /* background-color: rgb(62, 101, 101); */
        /* top: 4px; */
    }

    .role-style {
        font-size: 4vw;
        color: #e07272;
        text-align: left;
    }

    .Seer {
        color: purple
    }
    
    .Villager {
        color: aqua;
    }
    
    .Guard {
        color: chocolate;
    }
    .Witch {
        color:bisque
    }
    .Werewolf {
        color: red;
    }
}

.role-resp-card {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border: #c6cbd4 0.1rem solid;
    /* position: relative; */
    width: 34vh;
    height: 12rem;

    .player-content {
        /* position: absolute; */
        display: flex;
        align-items: center;
        width: 16rem;
        height: 10rem;
        /* background-color: rgb(62, 101, 101); */
        top: 4px;
    }

    .role-style {
        font-size: 3vw;
        color: #e07272;
        text-align: left;
        overflow-y: scroll; /* 始终显示滚动条 */
        scrollbar-width: none;
        max-height: 10rem;
    }
}


.Seer {
    color: purple
}

.Villager {
    color: aqua;
}

.Guard {
    color: chocolate;
}
.Witch {
    color:bisque
}
.Werewolf {
    color: red;
}


